@model IEnumerable<SwordParadise.Models.Order.OrderIndexVM>

@{
    ViewData["Title"] = "MyOrders";
}
<style>
    .search-container {
  max-width: 300px;
        margin: 0 auto;
}
    .gradient-custom {
        background: linear-gradient(to bottom, red, black);
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .container1 {
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-width: 860px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .navbar-search form .input-group input[type="text"]:focus {
        border-color: grey;
        box-shadow: none;
    }

    .navbar-search form .input-group .input-group-append .btn {
        margin-left: 10px; /* adjust as needed */
        background-color: darkred;
        color: #fff;
        border-radius: 20px;
        border-color: darkred;
        transition: all 0.3s ease-in-out;
    }

        .navbar-search form .input-group .input-group-append .btn:hover {
            background-color: black;
            color: #fff;
            border-color: black;
        }

    .table-container {
        max-width: 860px;
        max-height: 600px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }

        /* Style the scrollbar */
        .table-container::-webkit-scrollbar {
            width: 8px;
        }

        .table-container::-webkit-scrollbar-thumb {
            background-color: indianred;
            border-radius: 20px;
        }

        .table-container::-webkit-scrollbar-track {
            background-color: #f3f3f3;
        }

    /* Add a box shadow effect to the table rows */
    .table tbody tr {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

        .table tbody tr:hover {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            background-color: #f9f9f9;
        }
        #space1
        {
            padding: 10px;
        }

    #space2 {
        padding: 2px;
    }
            .create-new-btn {
        background-color: darkred;
        color: white;
            text-decoration: none;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .create-new-btn:hover {
            background-color: indianred;
            text-decoration: none;
            color: black;
        }

                .create-new-btn:focus {
                    outline: none;
        }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body class="gradient-custom">
<div class="container1">
<h1>My Orders</h1>
    <div class="search-container">
        <div class="navbar-search ml-auto">
            <form asp-controller="Order" asp-action="MyOrders" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchString">
                    <div class="input-group-append">
                        <button type="submit" value="Filter" class="btn btn-outline-secondary">
                            <i class="fas fa-search"></i> <span class="button-text">Filter</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <p id="space2"></p>
    </div>
        <div>
            <a asp-controller="Weapon" asp-action="Index" class="create-new-btn">Back to Weapons</a>
        </div>
    </div>
    <p id="space1"></p>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weapon)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
