@using SwordParadise.Models.Statistics
@model StatisticsVM

@{
    ViewData["Title"] = "Statistics";
}
<style>
    .gradient-custom {
        background: linear-gradient(to bottom, #fe90d2, #fefa3f);
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .body-container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
</style>
<body class="gradient-custom">
<h4 class="text-center">Statistics</h4>
<div class="text-center">
    <div class="col-x1-8">
        <div class="card-group pb-0">
            <div class="card-columns text-center">
            </div>
        </div>
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CountClients)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountWeapons)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountOrders)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SumOrders)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.CountClients)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CountWeapons)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CountOrders)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SumOrders)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>